# Ambientes Virtuais Python
.venv/
venv/
__pycache__/

# Terraform (para a nossa próxima fase)
.terraform/
*.tfstate
*.tfstate.backup
.terraform.tfstate.lock.info

# Chaves SSH (Segurança)
terraform/sre_key
terraform/sre_key.pub
*.pem

# Lixo do Sistema Operacional
desktop.ini
*.txt.txt